{% extends "layout/error.twig" %}
{% block content %}
<br>
<div class="ui main error message container">
    <h1 class="ui dividing header"><i class="ban icon"></i>Page Not Found</h1>
    <h4>The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly.</h4>
</div>
{% endblock %}